extends: ../.eslintrc
env:
  browser: true
  node: true
  mocha: true
  protractor: true # uses the same vars as selenium, namely `browser` global
plugins: [mocha]
rules:
  mocha/no-global-tests: error
  mocha/no-exclusive-tests: error
  mocha/no-pending-tests: error
  mocha/no-hooks-for-single-case: error
  mocha/no-identical-title: error
  mocha/no-nested-tests: error
  mocha/no-return-and-callback: error
  mocha/no-sibling-hooks: error
  mocha/handle-done-callback: error
  mocha/no-top-level-hooks: error
  no-param-reassign: off
  no-console: off

  no-unused-vars:
    - error
    -
      varsIgnorePattern: 'should'

  # The top level of each spec should be a context denoting the file it's testing's relative path from app
  mocha/valid-suite-description: [error, '^[/\w]+:$', ["context"]]

  # see http://mochajs.org/#arrow-functions for why we use functions not arrows for tests
  mocha/no-mocha-arrows: error
  prefer-arrow-callback: off
  func-names: off

  import/no-extraneous-dependencies:
    - error
    -
      devDependencies: true
