parser: babel-eslint
extends: airbnb
env:
  browser : true
rules:
  comma-dangle: [2, never]
  max-len:
    - 2
    - 120
    - 2
    - { ignoreUrls: true, ignoreComments: false }
  react/no-find-dom-node: 0
  arrow-body-style: 0
  no-mixed-operators: 0
  no-shadow: [2, { allow: [err, error] }]
  react/prefer-stateless-function: [error, { ignorePureComponents: true }]

  no-console: 2
  no-underscore-dangle: 0
  guard-for-in: 0
  no-param-reassign: [2, { props: false }]
