extends: ../.eslintrc

rules:
  import/no-extraneous-dependencies: [2, { devDependencies: true }]
  import/no-named-as-default-member: 0
  react/no-array-index-key: 0
  react/jsx-no-bind: 0
  react/prop-types: 0
